*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    background: linear-gradient(135deg, #667eea, #764ba2);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#box{
    width: 100vw;       
    height: 100vh;      
    max-width: 500px;
    box-shadow:none;
    background-color: white;
    overflow: hidden;
    flex-direction: column;
    display: flex;
    margin: 0 auto;    
}
#chat{
    height: 10%;
    width: 100%;
    background-color: #667eea;
    border-radius: none;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 1px solid black;
}
#chat-box {
    flex: 1; 
    background-color: white;
    width: 100%;
    height: 70%;
    color: rgb(8, 8, 8);
    font-size: 20px;
    padding: 30px;
    overflow-y: auto;
    overflow-x: hidden; 
    word-wrap: break-word; 
    word-break: break-all;
    display: flex;
    flex-direction: column;
}
#messages {
    list-style: none;
    width: 100%;
}
.sent {
    align-self: flex-end;
    max-width: 75%;
    background: #667eea; 
    color: white;
    padding: 10px 15px;
    border-radius: 18px;
    font-size: 18px;
    border-bottom-right-radius: 5px;
    margin: 8px 0;
    margin-left: 70px;
    word-wrap: break-word;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.received {
    align-self: flex-start;
    max-width: 75%;
    background: white;
    color: black;
    padding: 10px 15px;
    border-radius: 18px;
    border-bottom-left-radius: 5px;
    margin: 8px 0;
    word-wrap: break-word;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.timestamp {
    font-size: 11px;
    opacity: 0.7;
    margin-top: 4px;
    text-align:right; 
    align-self: flex-end; 
}
#typing{
    height: 10%;
    width: 100%;
    background-color: white;
    border-radius: 35px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#messageInput{
    height: 52px;
    width: 250px;
    border-radius: 1px solid black;
    font-size: 15px;
    color: black;
    border-radius: 35px;
    padding: 10px;
    margin-right:5px;
    background-color: white;
}
#sendBtn{
    height:50px;
    width: 75px;
    border-radius: 20px;
    background-color: #667eea;
    color: white;
    font-size: 32px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sendBtn:hover {
    background-color: #5a6fd8;

}



